//Font
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
$font-family: 'Libre Baskerville', serif;
$font-size: 18px;

//default settings
html {
    font-family: $font-family;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

// colors
$white: hsl(0, 0%, 100%);
$lightGray: hsl(0, 0%, 90%);
$lighterGray: hsl(0, 0%, 95%);
$darkGray: hsl(0, 0%, 49%);
$black: hsl(0, 0%, 0%);
$blackLight: hsl(0, 0%, 0%, 0.6);
$blackLighter: rgba(0, 0, 0, 0.8);

//Animation
$bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);